<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02 GET!</h1>

  <div th:if="${entry}">
    エントリー
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${users}"><a th:href="@{/match(name=${user.name})}"> [[${user.name}]]</a></li>
    </ul>
  </div>

  <div th:if="${userName}">
    Hi [[${userName}]]
  </div>

  <div th:each="users,stat:${users}">
    <tr>
      <td>ID:[[${users.id}]]</td>
      <td>ユーザ名:[[${users.name}]]</td>
    </tr>
  </div>

  <a href="/lec02janken?hand=Gu">ぐー</a>
  <a href="/lec02janken?hand=Choki">ちょき</a>
  <a href="/lec02janken?hand=Pa">ぱー</a>

  <div th:if="${janken}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 [[${cpuHand}]]</p>
    <p>結果 [[${syouhai}]]</p>
  </div>

  <div th:each="matches,stat:${matches}">
    <tr>
      <td>ID:[[${matches.id}]]</td>
      <td>ユーザ1:[[${matches.user1}]]</td>
      <td>ユーザ2:[[${matches.user2}]]</td>
      <td>ユーザ1の手:[[${matches.user1Hand}]]</td>
      <td>ユーザ2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>

</body>

</html>
